/* Глобальные стили */
* {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}  

body {
    min-width: 320px;
    margin: auto;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-size: 16px;
    line-height: 0;
    color: #1B1C21;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
}

.visually-hidden {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

/* Основной стиль */
.brends {
    background-color: #F8F8F8;
    letter-spacing: -0.2px;
    overflow: hidden;
}

.brends__title {
    text-transform: uppercase;
    line-height: 24px;
    color: #7E7E82;
    padding: 16px;
    background-image: linear-gradient(to right, #F8F8F8, #FFF);
}

.brends__swiper {
    padding-top: 16px;
    padding-bottom: 66px;
}

.swiper {
    padding-left: 16px;
}

.swiper-slide {
    height: 72px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.swiper-slide::after {
    content: "";
    background: url(../images/go.svg) no-repeat;
    width: 40px;
    height: 40px;
}

.swiper-pagination {
    margin-bottom: 26px;
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #DDDDDD;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}